h1 {
  text-align: center;
}

body {

}

.button-col {
  width: 100px;
  text-align: center;
}

.desc-col {
  width: 300px;
  text-align: left;
}

table {
  counter-reset: tableCount;
}

.counterCell::before {
  content: counter(tableCount);
  counter-increment: tableCount;
}

.counterCell{
  text-align: center;
  width: 50px;
}

.button-center {
  text-align: center;
}

.Modal {
  position: relative;
  top: 250px;
  left: 400px;
  right: 20px;
  bottom: 20px;
  background: linear-gradient(to bottom right, #00fefd, #5c2cff);
  width:700px;
  border: 1px solid #000;
  color: white;
  border-radius: 4px;
  padding: 20px;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rebeccapurple;
}

.select {
  background-color: #b75bfd;
  border: 1px solid black;
}

.button-center {
 text-align: center;
}

.add-expense-button {
  font-family: Helvetica;
  text-align: center;
  border-radius: 10px;
  border: 1px solid black;
  background-color: #b75bfd;
  color: white;
  font-weight: bold;
  width: 150px;
  height: 30px;
}

label{
display:inline-block;
width:200px;
margin-right:30px;
text-align:right;
}

fieldset{
border:none;
margin:0px auto;
}

.closebtn{
  float:right;
}
