h1 {
  text-align: center;
  padding-bottom: 50px;
  padding-top: 50px;
  color: #fff;
  background-color: #000;
}

body {
  /* color: #fff;
  background-color: #000; */
}

.button-col {
  width: 100px;
  text-align: center;
}

.desc-col {
  width: 300px;
  text-align: left;
}

table {
  counter-reset: tableCount;
}

.counterCell::before {
  content: counter(tableCount);
  counter-increment: tableCount;
}

.counterCell{
  text-align: center;
  width: 50px;
}

.button-center {
  text-align: center;
}

.Modal {
  position: relative;
  top: 250px;
  left: 400px;
  right: 20px;
  bottom: 20px;
  /* background: linear-gradient(to bottom right, #00fefd, #5c2cff); */
  background-color: #000;
  width:700px;
  border: 1px solid #000;
  color: #fff;
  border-radius: 4px;
  padding: 20px;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rebeccapurple;
}

.select {
  color: #000;
  background-color: #fff;
  border: 1px solid black;
  width: 180px;
  height: 24px;
}

.button-center {
 text-align: center;
}

.add-expense-button {
  font-family: Helvetica;
  text-align: center;
  border-radius: 10px;
  border: 1px solid black;
  background-color: #337ab7;
  color: white;
  font-weight: bold;
  margin-left: 230px;
  width: 180px;
  height: 30px;
}
#description-error {
  text-align: center;
  color: red;
}
#amount-error {
  text-align: center;
  color: red;
}
#month-error {
  text-align: center;
  color: red;
}
#year-error {
  text-align: center;
  color: red;
}

label{
display:inline-block;
width:200px;
margin-right:30px;
text-align:right;
}

fieldset{
border:none;
margin:0px auto;
}

.delete-btn {
  color: #000;
}

.add-field {
  margin-left: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  /* border: 1px solid #000; */
}

.closebtn{
  float:right;
}
